@{
    ViewBag.Title = "Confirmation Sent";
}

<h2>@ViewBag.Title!</h2>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>

<small>You just remembered, didn't you? </small>@Html.ActionLink("Log In", "Login", null, new { @class = "signup" })