@{
    ViewBag.Title = "Reset password successful";
}

<h2>@ViewBag.Title!</h2>
<div>
    <h4>Your password has been reset.</h4>
    <p>
        Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
