<div class="jumbotron">
    <h1>Money Portal API</h1>
    <p class="lead">The Money Portal API is a web service created for testing Stored Procedures, WebAPI calls, and Attribute Routing.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Money Portal</h2>
        <p>The Money Portal is a Web Application designed to track household budgets, with several household members and their personal bank accounts.</p>
        <p><a class="btn btn-default" href="https://MoneyPortal.azurewebsites.net">Money Portal &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Developer Portfolio</h2>
        <p>To learn more about the Developer and his work, check out his professional portfolio.</p>
        <p><a class="btn btn-default" href="https://brianquinn.azurewebsites.net">Portfolio &raquo;</a></p>
    </div>
</div>
