@using MoneyPortal.ViewModels
@using System.Globalization

@model AccountStatistics

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                    <div class="icon"><i class="fas fa-lg fa-money-bill-alt"></i></div><strong>Current<br/>Balance</strong>
                </div>
                <div class="number dashtext-1">@Model.CurrentBalance</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                    <div class="icon"><i class="fas fa-lg fa-receipt"></i></div><strong>Monthly<br/>Spending</strong>
                </div>
                <div class="number dashtext-2">@Model.MonthlySpending</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                    <div class="icon"><i class="fas fa-lg fa-hand-holding-usd"></i></div><strong>Monthly<br/>Deposits</strong>
                </div>
                <div class="number dashtext-3">@Model.MonthlyDeposits</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                    <div class="icon"><i class="fas fa-lg fa-exchange-alt"></i></div><strong>Monthly<br/>Transactions</strong>
                </div>
                <div class="number dashtext-4">@Model.MonthlyTransactions</div>
            </div>
        </div>
    </div>
</div>