/* your styles go here */

.page-content section {
    margin-bottom: 20px;
}

nav#sidebar.shrinked .sidebar-header .avatar {
    margin-right: 0px;
}

nav#sidebar a.user-profile :hover {
    background-color: #282b2f !important;
}

div.form-horizontal .form-group .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

div.form-horizontal .form-group.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.dataTables_wrapper .dataTables_length {
    color: #979a9f;
}

    .dataTables_wrapper .dataTables_length label select {
        height: calc(2.4rem + 2px);
        border: 1px solid #444951;
        background: transparent;
        border-radius: 0;
        color: #979a9f;
        padding: 0.45rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

.dataTables_wrapper .dataTables_filter {
    color: #979a9f;
}

    .dataTables_wrapper .dataTables_filter label input {
        height: calc(2.4rem + 2px);
        border: 1px solid #444951;
        background: transparent;
        border-radius: 0;
        color: #979a9f;
        padding: 0.45rem 0.75rem;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

table.dataTable tbody tr {
    background: transparent;
}

.dataTables_wrapper .dataTables_info {
    color: #979a9f;
}

.dataTables_wrapper .dataTables_paginate .paginate_button, .ellipsis {
    color: #979a9f !important;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: white !important;
        border: 1px solid black;
        background-color: #666 !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: #333 !important;
        border: 1px solid #979797;
        background-color: white;

    }

.table-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: none;
    padding: 2px;
    border: 2px solid #8A8D91;
}

.table-users td {
    padding: 6px;
    vertical-align: middle;
}

.filetype-icon {
    margin-right: 10px;
}

.custom-file-upload {
    border: 1px solid #a5a7ab;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.history-item {
    border-bottom: 1px solid #393c43;
    border-top: 1px solid #393c43;
    padding: 10px;
}

.card .card-header {
    /*margin-bottom: 15px;*/
    background-color: rgba(0,0,0,0.1);
}

.btn-primary {
    background-color: #429244 !important;
    border-color: #429244 !important;
}

nav#sidebar .sidebar-header {
    padding: 25px 20px;
    margin-bottom: 10px;
    width: 100%;
}

.collapsable {
    margin-top: 1.4rem;
}

.avatar-border {
    border: 3px solid #429244 !important;
}

.btn.block {
    color: #429244;
    display: block;
}

.btn-block-minimize {
    color: #6c757d !important;
}

.btn-block-close {
    color: #6c757d !important;
}

.shortcut-bar {
    margin-top: -15px;
    margin-bottom: 20px;
}

.shortcut {
    font-size: 1rem;
    padding: 10px;
    background: #2d3035;
    color: #8a8d93;
    border-radius: 10px;
    margin-right: -10px;
}

    .shortcut.btn:hover {
        color: #367838;
    }

    .shortcut.leave-household {
        background: maroon;
    }

        .shortcut.leave-household:hover {
            color: cornsilk;
        }

#imageUpload {
    display: none;
}

#profileImage {
    cursor: pointer;
}

#profile-container {
    overflow: hidden;
    position: relative;
}

    #profile-container:hover .image {
        opacity: 0.3;
    }

    #profile-container:hover .centered {
        opacity: 1;
    }

.centered {
    font-size: 2rem;
    font-weight: 900;
    color: #FF3F42;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 5px dashed #FF3F42;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#SideMenu nav {
    height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    caret-color: #8a8d93;
    -webkit-text-fill-color: #8a8d93;
    transition: background-color 5000s ease-in-out 0s;
}

.text-amount-deposit {
    color: #429244;
}
.text-amount-transfer {
    color: #ffc107;
}
.text-amount-withdrawal {
    color: #b11b2e;
}

.edit-button, .update-button {
    color: #429244;
}
.cancel-button{
    margin-right:4px;
}
.cancel-button, .delete-button {
    color: rgb(221, 51, 51);
}

.edit-button:hover,
.update-button:hover {
    color: #429244 !important;
}

.cancel-button:hover,
.delete-button:hover {
    color: rgb(221, 51, 51) !important;
}

.table{
    width: 100% !important;
}
.edit-amount {
    max-width: 100px;
}
.edit-type {
    max-width: 150px;
}
.controls {
    width: 100px;
}

.control-label-sm {
    font-size: .75rem;
}

.dashtext-g {
    padding-left: 20px;
    color: #429244 !important;
}

.dashtext-r {
    padding-left: 20px;
    color: #b11b2e !important;
}

.dashtext-y {
    padding-left: 20px;
    color: #ffc107 !important;
}

.title .words {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: .9rem;
    font-weight: bolder;
    color: #8a8d93;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
}
.public-user-block .item {
    width: 50%;
    text-align: center;
}