
@{
    ViewBag.Title = "Lobby";
}

<div class="row">
    <div class="col-4">
        <div class="btn block" id="create-household">
            <div class="title d-flex justify-content-center">
                <strong>Create Household</strong>
            </div>
            <div class="block-body d-flex justify-content-center">
                <i class="fas fa-plus fa-6x"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="btn block" id="join-household">
            <div class="title d-flex justify-content-center">
                <strong>Join Household</strong>
            </div>
            <div class="block-body d-flex justify-content-center">
                <i class="fas fa-plus fa-6x"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="btn block" id="add-bank-account">
            <div class="title d-flex justify-content-center">
                <strong>Add Bank Account</strong>
            </div>
            <div class="block-body d-flex justify-content-center">
                <i class="fas fa-plus fa-6x"></i>
            </div>
        </div>
    </div>

</div>